<ul class="list_view">
  {% for item in library %}
    <li data-index="{{ item.index }}" {% include "xbmc_library/item_properties.html" %}>
      <div
        {% if media == 'seasons' %}
          id="{{ item.season }}"
        {% else %}
          id="{{ item[media[:-1]+'id'] }}"
        {% endif %}
      >

        {{ item.label }}

        <span class="list_buttons">
          {% if show_info %}
            <a class="button" id="play">Play</a>
          {% else %}
            <a class="button" id="info">Info</a>
          {% endif %}
          <a class="button" id="queue">Queue</a>
        </span>

        {% if item.playcount %}
          <img class="watched" src="{{ url_for('static', filename='images/tick.png') }}">
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>