{% extends "xbmc_library/base.html" %}
{% block xbmc_library_title %}{{ title }}{% endblock %}
{% block xbmc_library_content %}

  <div class="get back" data-url="{{ back_path }}">&laquo;</div>

  <div id="content" data-media="{{ media }}" data-url="{{ path }}">
    {% include "xbmc_library/"+view+"_view.html" %}
  </div>

  {% include "xbmc_library/settings.html" %}

  <div id="filter_holder">
    <div id="filter">
      <input
        type="search"
        name="input"
        class="filter"
        value="Filter"
        onclick="this.value='';"
        onfocus="this.select()"
        onblur="this.value=!this.value?'Filter':this.value;"
      >
      </input>
    </div>
  </div>

  {% if back_pos %}
    <script>$('#xbmc_library #content #{{ back_pos }}').ScrollTo({duration: 0});</script>
  {% endif %}

{% endblock %}

{% block power_holder %}
  {% if file == 'video' %}
    <div class="power" title="Update Video Library" id="video-update">
      <img src="{{ url_for('static', filename='images/refresh.png') }}"/>
    </div>
    <div class="power" title="Clean Video Library" id="video-clean">
      <img src="{{ url_for('static', filename='images/clean.png') }}"/>
    </div>

  {% elif file == 'audio' %}
    <div class="power" title="Update Music Library" id="audio-update">
      <img src="{{ url_for('static', filename='images/refresh.png') }}"/>
    </div>
    <div class="power" title="Clean Music Library" id="audio-clean">
      <img src="{{ url_for('static', filename='images/clean.png') }}"/>
    </div>
  {% endif %}
{% endblock %}