<div class="poster_view">
  <div class="inner">
    {% for item in library %}
      <div {% include "xbmc_library/item_properties.html" %}>
        <div
          {% if media == 'seasons' %}
            id="{{ item.season }}"
          {% elif media == 'movies' and 'setid' in item %}
            id="set{{ item.setid }}"
          {% else %}
            id="{{ item[media[:-1]+'id'] }}"
          {% endif %}
        >
        <!-- FRODO -->
        {% if 'art' in item %}
          {% if 'poster' in item.art %}
            <img class="poster" src="{{ item.art.poster|xbmc_image }}">
          {% endif %}

        <!-- EDEN -->
        {% else %}
          {% if item.thumbnail %}
            <img class="poster" src="{{ item.thumbnail|xbmc_image }}">
          {% endif %}
        {% endif %}

          {{ item.label }}

          {% if item.playcount %}
            <img class="watched" src="{{ url_for('static', filename='images/tick.png') }}">
          {% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
</div>